$def with(content)
<html>
<head>
	<title>Module EV/Z3 Web UI</title>
	<link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print"> 
	<!--[if IE]>
		<link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->
	<link type="text/css" href="/static/css/ui-darkness/jquery-ui.css" rel="stylesheet" />	
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
</head>
<body>
<div class="container">
	<div class="header span-24">
	<img src="/static/intel.jpg" style="float: left" />
	<div class="clear"></div>
	<br />
	<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
			<li><a href="/dashboard">dashboard</a></li>
			<li><a href="/edit">new</a></li>
			<li><a href="/upload">upload .asm</a></li>
			<li><a href="/upload.bin">upload .bin</a></li>
			<li><a href="/demos">demos</a></li>
			<li><a href="/docs">documentation</a></li>
			<li><a href="/live">live</a></li>
			<li><a href="/about">about</a></li>
	</ul>
	</div>
	<br />
	</div>
	
	<div class="content span-24">
	$:content
	</div>
</div>
</body>
</html>
