$def with()

<h2>Module EV/Z3 Documentation</h2>

<table>
<tr>
	<td width="60"><img src="/static/pdfLogo.jpg" width="50"/></td>
	<td>
		<h3><a href="/static/docs/Z3$$$$11E0.pdf">Z3$$$$11E0.pdf</a> Volume 1 / 4 (F31 - F42)</h3>
	</td>
</tr>
<tr>
	<td><img src="/static/pdfLogo.jpg" width="50" /></td>
	<td>
		<h3><a href="/static/docs/Z3$$$$12E0.pdf">Z3$$$$12E0.pdf</a> Volume 2 / 4 (F43 - F45)</h3>
	</td>
</tr>
</table>

<h2>Intel 80386ex Processor</h2>

<table>
<tr>
	<td><img src="/static/pdfLogo.jpg" width="50" /></td>
	<td>
		<h3><a href="/static/docs/80386EX/intel80386ex.pdf">Intel 80386ex User Manual</a></h3>
	</td>
</tr>
<tr>
	<td width="60"><img src="/static/pdfLogo.jpg" width="50"/></td>
	<td>
		<h3><a href="/static/docs/80386EX/Intel80386EX_datasheet.pdf">Intel 80386ex Datasheet</a></h3>
	</td>
</tr>
</table>

